# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# HuggingFace cache
.cache/
huggingface/

# FAISS / vector data (optional if you rebuild every time)
*.index

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/